footer.footer#contact
	.section_in
		.footer__logo 
			img(src="i/icons/logo.svg", alt="") 
		//- .navbar-container__logo-mobile 
		//- 	img(src="i/icons/logo-m.svg", alt="")

		.footer__inform 
			.footer__copyright © 2022  Lifekit. Все права защищены
			.footer__development
				a.footer__development-text(href="http://pvadesign.ru/ ") Разработано arkada-web.ru 
				img(src="i/icons/logo-arkada.svg", alt="")
				

