header 
	.navbar.fixed-top
		.section_in
			.navbar-container
				.navbar-container__logo 
					img(src="i/icons/logo.svg", alt="")
				.navbar-container__logo-mobile 
					img(src="i/icons/logo-m.svg", alt="")
				
				.menu-items
					a(href="#aboutUs") Состав аптечки
						
				.contact-box
					.tel
						img(src="i/icons/icon-phone.svg", alt="") 
						a(href="#") 8 (800) 888-888-88

		